*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 82%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.unstyle-list{
    list-style: none;
}
.col-1 {
    width: 8.33333%
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333%;
}

.col-5 {
    width: 41.666667%;

}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;

}

.col-8 {
    width: 66.666667%;

}

.col-9 {
    width: 75%;

}

.col-10 {
    width: 83.333333%;

}

.col-11 {
    width: 91.666667%;

}

.col-12 {
    width: 100%;
}
.header{
    padding: 20px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header .menu ul li a{
    text-decoration: none;
    margin-left: 30px;
    color:black;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.header .menu ul li a:hover{
    color: #8194FF;
}
.intro{
    background-color: #F9F9FF;
}
.intro .intro-text{
    width: 45%;
    padding-top: 18%;
    margin-right: 70px;
}
.intro .intro-text h2{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.intro .intro-text h1{
    font-size: 55px;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.intro .intro-text p{
    font-size: 16px;
    color: #777777;
    margin-bottom: 30px;
}
.intro .intro-text a{
    text-decoration: none;
    padding: 12px 28px;
    background: linear-gradient(to right, #8293FF, #63BCFC);
    color: white;
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.intro .intro-text a:hover{
    box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}
.intro .intro-img{
    padding-top: 5%;
}
.about{
    padding-top: 10%;
}
.about .about-img{
    width: 60%;
}
.about .about-img img{
    width: 80%;
}
.about .about-text{
    width: 40%;
    padding-top: 3%;
}
.about .about-text h2{
    font-size: 14px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.about .about-text h1{
    font-size: 35px;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.about .about-text p{
    font-size: 16px;
    color: #777777;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about .about-text a{
    text-decoration: none;
    padding: 12px 28px;
    background: linear-gradient(to right, #8293FF, #63BCFC);
    color: white;
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.about .about-text a:hover{
    box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}
.services{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 70px;
}
.services h1{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.services p{
    color: #777777;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 55%;
    margin: auto;
    margin-bottom: 90px;
}
.services .service i{
    font-size: 35px;
    margin-bottom: 30px;
}
.services .service a{
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: black;
    display: inline-block;
    margin-bottom: 30px;
}
.services .service .hover-group:hover a{
    color: #8293FF;
}
.services .service .hover-group:hover{
    color: #8293FF;
}
.services .service p{
    width: 85%;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 60px;
}
.stats{
    background: linear-gradient(to right, #8491FF,#62BDFC);
    padding: 130px 30px;
    color: white;
    text-align: center;
}
.stats .stat h3{
    font-size: 40px;
}
.projects{
    text-align: center;
    padding: 120px 0;
}
.projects h1{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.projects p{
    font-size: 18px;
    color: #777777;
    margin-bottom: 110px;
}
.projects ul{
    justify-content: center;
    margin-bottom: 80px;
}
.projects ul li{
    margin: 0 20px;
}
.projects ul li a{
    text-decoration: none;
    font-size: 11px;
    color: black;
}
.projects .project{
    width: 31%;
}
.projects .project .project-img {
    position: relative;
}
.projects .project .project-img .img{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.projects .project .middle{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #43a5ebc7;
    padding-top: 43%;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.projects .project .project-img:hover .middle{
    opacity: 1;
}
.projects .project .project-img .middle img:hover{
    cursor: pointer;
}
.projects .project .project-name h1{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}
.projects .project .project-name p{
    margin-bottom: 20px;
}
.clients{
    padding: 120px 0;
    background-color: #F9F9FF;
    text-align: center;
}
.clients h1{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}
.clients p{
    color: #777777;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 50px;
}
.clients .client{
    padding: 15px;
    background-color: white;
    width: 49%;
}
.clients .client .client-img{
    width: 10%;
}
.clients .client .client-img img{
    width: 70%;
    margin: auto;
    vertical-align: middle;
}
.clients .client .feedback{
    width: 85%;
    text-align: left;
}
.clients .client .feedback p{
    margin-bottom: 15px;
}
.clients .client .feedback h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7px;
    transition: 0.3s ease-in-out;
}
.clients .client .feedback h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}
.clients .client:hover h2{
    color: #8194FF;
}
.clients .client:hover{
    cursor: pointer;
}
.plans{
    text-align: center;
    padding: 120px 0;
}
.plans h1{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}
.plans p{
    color: #777777;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.plans .plan{
    background-color: #f9f9ff;
    padding: 25px 20px;
    transition: 0.3s ease-in-out;
}
.plans .plan .number{
    border: 30px solid rgba(132, 144, 255, 0.1);
    border-radius: 50%;
    width: fit-content;
    margin: auto;
    padding: 20px 25px;
    background-color: rgba(132, 144, 255, 0.1);
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.plans .plan h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}
.plans .plan p{
    margin-bottom: 30px;
}
.plans .plan ul li{
    padding: 10px 0;
    border-top: 1px solid #77777786;
    color: #777777;
}
.plans .plan ul li:last-child{
    border-bottom: 1px solid #77777786;
}
.plans .plan ul{
    margin-bottom: 30px;
}
.plans .plan h3{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.plans .plan:hover{
    transform: scale(1.05);
    background-color: #8194FF;
    color: white;
    cursor: pointer;
}
.plans .plan:hover p{
    color: white;
}

.plans .plan:hover li{
    color: white;
    border-top: 1px solid white;
}
.plans .plan:hover li:last-child{
    border-bottom: 1px solid white;
}
.plans .plan:hover .number{
    border: 30px solid #E2E5FF;
    background-color: #7FB3FD;
}